<div class="form-group">
  <%= form.input :name, class: "form-control", hint: "Spending name" %>
</div>

<div class="form-group">
  <%= form.input :amount, class: "form-control", hint: "How much?" %>
</div>

<div class="form-group">
  <%= form.association :category, collection: Category.all.order(:name), prompt: "Choose a category" %>
</div>
