<!doctype html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8" />
  </head>
  <body>


    <div class="jumbotron">
      <div class="container">
        <h1>Hello!</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan iaculis
          viverra. Nulla egestas libero massa, non tempus leo laoreet in. In ultricies
          justo sed nunc hendrerit pellentesque. Sed sed ante vel magna posuere bibendum
          et sed leo. Nam sodales libero vel tortor molestie pulvinar. In fringilla, lorem
          in suscipit finibus, sapien dui auctor ante, et ullamcorper arcu sapien non
          diam. Ut at dapibus augue. Aliquam in arcu rutrum, varius libero in, dignissim
          mi. Proin sagittis aliquam nisi quis efficitur.
        </p>
        <p><a class="btn btn-primary" role="button" href="https://www.reddit.com/r/financialindependence/">Reddit thread&raquo;</a></p>
  </body>
</html>
