<h3>Listing users</h3>
<table class="table table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Email address</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody id="users">
    <%= render @users  %>
  </tbody>
</table>
