<h3>Listing users</h3>

<div class="container">
  <div class="row">
  <%= datagrid_form_for @users_grid, url: users_path %>
  </div>

  <div class="row">
  <table class="table table-bordered table-striped table-hover"
         <%= datagrid_table(@users_grid) %>
  </table>
  <%= paginate @users_grid.assets %>
  </div>
</div>
