// Place all the styles related to the spendings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.selectize-dropdown-content {
    max-height: 130px;

    .active {
        background-color: #66afe9;
    }
}

.selectize-input {
    min-width: 250px;
}
