<%= simple_form_for @new_category do |f| %>
  <div class="form-inputs">
    <%= f.input :name, autofocus: true, class: "form-control", label: false, placeholder: "Category name" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Add category", class: "btn btn-submit" %>
  </div>
<% end %>

<br>
<%= render @categories %>
