<%= render partial: "partial/head" %>
<div class="container" id="features">
<div class="row">
  <div class="col-md-4">
    <table class="table table-striped">
        <%= render @spendings %>
    </table>
  </div>
  <div class="col-md-8 feature jumbotron">
    <%= pie_chart @spendings_chart, height: "400px;" %>
  </div>
</div>

<%= link_to "Delete!", @category, method: :delete, data: { confirm: "Are you sure?" } %>
