<ul class="list-group">
  <a><%= link_to "Categories", categories_path, class: "list-group-item #{active_class('categories')}" %></a>
  <a><%= link_to "Spendings", spendings_path, class: "list-group-item #{active_class('spendings')}" %></a>
  <a><%= link_to "Statistics", statistics_path, class: "list-group-item #{active_class('statistics')}" %></a>
</ul>
